@page
@using razorweb.modles
@model IndexModel
@{
    ViewData["Title"] = "Home page";
    var article = ViewData["post"] as List<Article>;
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<ol>
    @foreach(var ar in article)
    {
        <li>@ar.Title</li>
    }
</ol>